.topbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(71, 120, 255, 0.842);
    height: 50px;
}
.leftcont{
    width: 200px;
    color: white;
    font-size: x-large;
    font-weight: 500;
    margin-left: -50px;
}
.centercont{
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-left: -100px;
}
.centercont input{
    /* height: 25px;
    width: 400px;
    padding: 0 5px;
    border-radius: 5px; */
    padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      width: 400px;
}
.centercont input:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px #6c63ff;
  }

.centercont .search{
    margin-left: -30px;
    color: rgb(61, 60, 60);
}

.rightcont{
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: white;
}
.rightcont .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.rightcont .self{
    margin-right: 50px;
}
.rightcont .self span{
    font-size: larger;
    font-weight: 500;
    /* margin-right: 10px; */
}
.rightcont .self img{
    margin-right: 10px;
    width: 30px;
    border-radius: 100%;
}
.list{
    position: absolute;
    top: 50px;
    left: 200px;
    width: 200px;
}
.bg{
    margin-bottom: 10px;
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.bg img{
    margin-right: 10px;
    width: 30px;
    border-radius: 100%;
}